# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.vscode/
.idea/


# Android-specific build files
/build/

# Firebase configuration file (specific to Android)
google-services.json

# IDE files (Android Studio, VSCode, etc.)
.vscode/
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
